*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: auto;
    background: rgb(250, 250, 250);
 }

form{
    display: flex;
    background-color: #044479;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin: auto 0;
    position: fixed;
}

label{
    padding: 1rem;
    border: 0.5px solid #444;
    background-color: #fff;
    height: 4rem;
    width: 65%;
    outline: none;
}

.fa-search{
    margin-right: 1rem;
    opacity: 0.5;
}

input{
    outline: none;
    border: none;
}

::placeholder{
    font-size: 1.5rem;
    color: #bbb;
}

.fa-cart-plus{
    position: absolute;
    font-size: 2.5rem;
    right:15rem;
    color: #fff;
}

#section{
    min-height: 100vh;
    display: flex;
    margin-top: 6.5rem;
    padding: 1rem;
    justify-content: space-between;
}

#products{
    width: 70%;
    padding: 1rem;
    /* background: rgb(240, 240, 240) ; */
    background: #416586 ;
}

#products > ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px 20px;
    padding: 2rem;
}

#products > ul >li{
    list-style: none;
    width: 20rem;
    text-align: center;
    border: 1px solid #044479 ;
    box-shadow: 2px 2px 5px 3px #337ab5;
}

#products > ul >li > span{
    color: rgb(220, 220, 220);
}

.action-btn{
    padding: 5px;
    width: 10rem;
    color: #fff;
    background: #337ab5;
    
    outline: none;
}
aside{
    padding: 1rem;
    background: #337ab5;
    width: 30%;
    /* border-left: 2px solid #337ab5; */
}

aside ul li{
    border-bottom: 1px solid #044479 ;
    /* box-shadow: 2px 2px 5px 3px #337ab5; */
    display: flex;
    padding: 1rem;
    /* width: 50%; */
}

aside ul li span{
    color: rgb(220, 220, 220);
    margin-right: 5px;
}

/* aside ul li button{
    width: 20%;
} */

#cart{
    /* margin-bottom: 4rem; */
}

.remove{
    background-color: rgb(253, 61, 61);
    color: #fff;
    padding: 7px;
    outline: none;
}

#order{
    text-align: center;
    color: #fff;
    background: rgb(247, 95, 39);
    padding: 10px;
    outline: none;
    margin-right: 0;
    position: absolute;
    right: 3.3rem;
    width: 27%;
}

#order a{
    color: #fff;
}

#order a:hover{
    text-decoration: none;
}

 /* footer{
    height: 2rem;
    padding: 1.5rem;
    border-top: 1px solid #777;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
} */

.footer{
    background: #044479;
    color: rgb(240, 240, 240);
    font-size: 14px;
    padding: 60px o 20px;
}
.footer p{
    color: rgb(240, 240, 240);
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1px;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    color: rgb(240, 240, 240);
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}





@media (max-width:900px){

    .fa-cart-plus{
        right:3rem;
    }

    #products{
        width: 100%;
    }

    #section{
        display: flex;
        flex-direction: column;
        margin-top: 6.5rem;
        justify-content: center;
        align-items: center;  
    }

    aside{
        width: 100%;
    }

    aside > ul{
        display: flex;
        width: 100%;
        /* margin-left: rem; */
    }

    #order{
        position: relative;
        right: 15rem;
        left: 0.5rem;
        width: 100%;
    }
}

@media (max-width:750px){

    label{
        width: 60%;
    }

    #products{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #products > ul{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 30px 4px;
    }
}