/* INDEX PAGE */
*{
    margin: 0;
    padding: 0;
}


#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background:  #044479;;
    text-align: center;
 }

 main.container{
    position: relative;
    height: 100vh;
    }

 header > h2{
     font-size: 4rem;
     color: #337ab7;
     font-weight: 900;
 }

 form{
     /* background-color: blue; */
    margin: auto;
     width: 30rem;
     margin-bottom: 0;
     min-height: 20rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 

.login{
    margin: 1rem 0;
    width: 100%;
}

label{
    width: 100%;
}

input{
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

::placeholder{
    font-size: 1.2rem;
    color: #bbb;
}

#log-in{
    /* background-color: blue; */
    margin-bottom: 2rem;
}
.log-in > button{
    display: flex;
    margin: auto;
    width: 30rem;
    outline: none;
}

.log-in > button > a{
    width: 100%;
    color: #fff;
}

#links{
    /* background: blue; */
    padding: 1rem;
    min-height: 2rem;
    margin-bottom: 4rem;
}

#div-link{
    margin-bottom: 2rem;
}

#div-link > a{
    font-size: 1.5rem;
}

.div-link >p, .div-link > a{
    font-size: 1.5rem;
}

.div-link > p{ 
    color: #bbb;
}

.div-link > a{
    margin-right: 10rem;
}

 /* END OF INDEX PAGE */



 /* CREATE ACCOUNT PAGE */

 header > h3{
    font-size: 2rem;
    font-weight: 700;
    color:#337ab7;
}

.create{
    margin-top: 2rem;
}

/* END OF CREATE PAGE */


