/* INDEX PAGE */
*{
    margin: 0;
    padding: 0;
}


#login-page{
    background-image: url(./images/Online-shop_button.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: rgb(250, 250, 250);
    text-align: center;
 }

 main{
    position: relative;
    height: 100vh;
    }

 header > h2{
     font-size: 4rem;
     color: #337ab5;
     font-weight: 900;
 }

 form{
     width: 100%;
     margin-bottom: 0;
     min-height: 20rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 

.login{
    margin: 1rem 0;
    width: 100%;
    width: 100%;
}

label{
    width: 100%;
}

input{
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

::placeholder{
    font-size: 1.2rem;
    color: #bbb;
}

#log-in{
    margin-bottom: 2rem;
}
.log-in > button{
    outline: none;
}

.log-in > button > a{
    width: 100%;
    color: #fff;
}

#links{
    /* background: blue; */
    padding: 1rem;
    min-height: 2rem;
    margin-bottom: 4rem;
}

#div-link{
    margin-bottom: 2rem;
}

#div-link > a{
    font-size: 1.5rem;
}

.div-link >p, .div-link > a{
    font-size: 1.5rem;
}

.div-link > p{ 
    color: #777;
}

.div-link > a{
    margin-right: 10rem;
}

 footer{
     /* background-color: blue; */
     height: 4rem;
     padding: 1.5rem;
     border-top: 1px solid #777;
     bottom: 0;
     position: absolute;
     font-size: 1.5rem;
     width: 100%;
     margin-bottom: 1rem;
 }

 /* END OF INDEX PAGE */



 /* CREATE ACCOUNT PAGE */

 header > h3{
    font-size: 2rem;
    color: #337ab5;
    font-weight: 700;
}

.create{
    margin-top: 2rem;
}

/* END OF CREATE PAGE */
